DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ACCESS_TOKEN=
CLOUDFLARE_R2_SECRET_ACCESS_TOKEN=
CLOUDFLARE_R2_PUBLIC_URL=
